<a href="https://colab.research.google.com/github/Varun-dasari/INFO5731_Spring2020/blob/master/Copy_of_INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [3]:
import random 
def Average(a): 
    return sum(a) / len(a) 

def Rand(start, end, num): 
    res = [] 
  
    for j in range(num): 
        res.append(random.randint(start, end)) 
  
    return res 
   
num = 12
start = 1
end = 100
a = (Rand(start, end, num)) 
print("Random list:", a)
a.sort()
print("Ascending Order:", a)
a.sort(reverse = True)
print("Descending Order:", a)

avg = Average(a) 
print("Average of the list =", round(avg, 2))

Random list: [14, 59, 85, 58, 30, 3, 80, 59, 100, 48, 46, 35]
Ascending Order: [3, 14, 30, 35, 46, 48, 58, 59, 59, 80, 85, 100]
Descending Order: [100, 85, 80, 59, 59, 58, 48, 46, 35, 30, 14, 3]
Average of the list = 51.42

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [2]:
#Convertion Function
def cnv(l):
  return l.split()

#Common Words Function
def comwords(l1, l2):

  for i in range(len(l1)):
    for j in range(len(l2)):
      if l2[j]==l1[i]:
        print(l2[j]) 
      else:
        continue

#Function for Punctuations
def Punct(string):

    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*'''

    for x in string.lower():
        if x in punctuations:
            string = string.replace(x, "")
    print(string)

l1 = []
l2 = []
S1 = input('Enter the First Sentence: ')
S2 = input('Enter the second Sentence:')

l1 = cnv(S1)
print(l1)
l2 = cnv(S2)
print(l2)
comwords(l1, l2)
Punct(S1)
Punct(S2)

vowels = 'aeiou'
S1 = S1.casefold()
S2 = S2.casefold()

count = {}.fromkeys(vowels,0)

for char in S1:
  if char in count:
    count[char] += 1

for char in S2:
  if char in count:
    count[char] += 1   

print(count)

Enter the First Sentence: University %b= @ )( o& * ! Nor^ ^%^&&*%$
Enter the second Sentence:T)(e3x % &^ A *m$#$# ric!@! !{ }? \ ?//
['University', '%b=', '@', ')(', 'o&', '*', '!', 'Nor^', '^%^&&*%$']
['T)(e3x', '%', '&^', 'A', '*m$#$#', 'ric!@!', '!{', '}?', '\\', '?//']
University b=   o   Nor
Te3x   A m ric
{'a': 1, 'e': 2, 'i': 3, 'o': 2, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [1]:
# Your code here
pi=3.14
print('r' + '    ' + 'v')
for r in range(1,11):
  v = (4/3) * pi * (r)**3
  print(str(r) + '    ' + str(v))

r    v
1    4.1866666666666665
2    33.49333333333333
3    113.03999999999999
4    267.94666666666666
5    523.3333333333334
6    904.3199999999999
7    1436.0266666666666
8    2143.5733333333333
9    3052.08
10    4186.666666666667

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [7]:
#1
import pandas as pd
url = "https://raw.githubusercontent.com/unt-iialab/INFO5731_Spring2020/master/Assignments/Assignment1_denton_housing.csv"

df = pd.read_csv(url)

df = df[df['title_field'] == 'Occupied Housing Units']
df = df['value']
df.diff().sort_values().dropna()

17   -5091.0
5    -2622.0
8    -1565.0
11   -1404.0
14     303.0
20     795.0
Name: value, dtype: float64

In [13]:
#2
df = pd.read_csv(url)

occH = df.loc[df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])['value'].values.tolist()
vacH = df.loc[df['title_field'] == 'Vacant Housing Units'].sort_values(by = ['year'])['value'].values.tolist()
total = df.loc[df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()

vacPercent = [str((i/j)*100)+' %' for i,j in zip(vacH,total)]
occPercent = [str((i/j)*100)+' %' for i,j in zip(occH,total)]

df = pd.concat([pd.DataFrame(df.loc[df['title_field'] == 'Occupied Housing Units'].sort_values(by = ['year'])['year'].values.tolist(),
                             columns=['Year']),
                pd.DataFrame(vacPercent,columns =['vacant housing units']),
                pd.DataFrame(occPercent,columns =['occupied housing units'])],axis=1)
print(df)

   Year vacant housing units occupied housing units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

In [14]:
#3
df = pd.read_csv(url)
df = df.sort_values(by = ['year'])
maxOcc = df.loc[df['title_field'] == 'Occupied Housing Units','value'].max()
maxVac = df.loc[df['title_field'] == 'Vacant Housing Units','value'].max()
occdf = df.loc[(df['title_field'] == 'Occupied Housing Units') & (df['value'] == maxOcc)]
vacdf = df.loc[(df['title_field'] == 'Vacant Housing Units') & (df['value'] == maxVac)]
df = pd.concat([vacdf,occdf])
print(df[['title_field','year','value']])

               title_field  year  value
19    Vacant Housing Units  2008   4483
2   Occupied Housing Units  2014  46295

In [10]:
#4
from scipy import stats
df = pd.read_csv(url)
total = df.loc[df['title_field'] == 'Total Housing Units','value'].values
print ("harmonic mean of total housing units=  %f"%stats.hmean(total))

harmonic mean of total housing units=  44398.285440