<a href="https://colab.research.google.com/github/Varun-dasari/INFO5731_Spring2020/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
string = "Data Science in UNT !!"
print ("Length: ", len(string))

Length:  22

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
a = 'google.com'
dict((c,a.count(c)) for c in set(a))

{'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}

(3) Write a Python program to sum all the items in a list

In [0]:
Total = 0
   
list = [1, 3, 5, 7, 9]  
  
for ele in range(0, len(list)): 
    Total = Total + list[ele] 
   
print("Sum : ", Total)

Sum :  25

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
def change_char(string):
  char = string[0]
  string = string.replace(char, '$')
  string = char + string[1:]

  return string

print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
a = input(' Enter a')
b = input(' Enter b')
c = int(a) / int(b)
d = 1+c
e = d*d*d
s = 3.14*e
print(s)

 Enter a2
 Enter b3
14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
tuplex = ("u", "n", "t", 1, 1, 5, 0)
print("n" in tuplex)
print(3 in tuplex)

True
False

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
seta = set([1,5, 10, 3, 15, 2, 20,33,49,71])
print(max(seta))
print(min(seta))

71
1

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
import random
student_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']


for i in range(4):
  sampling = random.choices(student_list, k=4)
  student_list = [i for i in student_list if i not in sampling]
  print("Group " +str(i+1)+": ", sampling)

Group 1:  ['km0738', 'mk0830', 'an0521', 'ss1872']
Group 2:  ['sm1515', 'lg0426', 'vp0241', 'sa0753']
Group 3:  ['ag1121', 'mj0396', 'lba0043', 'ss1976']
Group 4:  ['rp0477', 'laa0240', 'al0787', 'hr0178']